
* {
    box-sizing: border-box;
  }

  body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    margin: 0;
    }
    
    header, footer { 
      text-align: center;
      background-color: #000;
      color: #fff;
    }

    header div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
   
    header div span {
      font-size: 1.5rem;
      padding: 10px 20px;
    }
    

   .wrapper{
      max-width: 940px;
      margin: auto;
    }


  header ul{
    list-style: none;
      }

  header ul li{
    display: inline-block;
  }

    header ul a{
    color: #fff;
    text-decoration: none;
    padding: 0px 5px;
    }

    #hero{
      height: 600px;
      background-image: url(../images/hands-typing.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      filter: grayscale(70%);
    }

    #hero h1{
      max-width: 60%;
      font-size: 3rem;
      text-align: center;
      color: #fff;
      background: rgba(0, 0, 0, 50%);
      padding: 10px;
      text-shadow: 2px 2px #000
    }

    #about-me .wrapper{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
    }

    #about-me .wrapper div{
      grid-column: 1 / 3;
    }

    #about-me h2{
      font-size: 2rem;
    }
 
   .emily{
      max-width: 100%;
      grid-column: 3 / 4;
    }

    #services{
      background-color: #fafafa;
      padding: 30px 60px 60px;

    }

    #services h2{
      max-width: 100%;
      text-align: center;
      font-size: 3rem;
    }

    #services #services-text{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
    }

    #services-text article{
      background-color: #fff;
      padding: 1em;
    
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

  #services-text a:link, a:visited {
  display: inline-block;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border: 2px solid #000;
  margin-top: auto;
  padding: 10px 15px;
}

#services-text a:hover,
a:focus {
  background-color: #fff;
  color: #000;
}

#work h2, #work p{
max-width: 100%;
text-align: center;
}

#work .wrapper div{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: 
  "img1 img1 img1 img2 img2 img2"
  "img3 img3 img4 img4 img5 img5";
  margin-bottom: 50px;
}

#work img:nth-child(1){
  grid-area: img1;
  max-width: 100%;
}
#work img:nth-child(2){
  grid-area: img2;
  max-width: 100%;
}
#work img:nth-child(3){
  grid-area: img3;
  max-width: 100%;
}
#work img:nth-child(4){
  grid-area: img4;
  max-width: 100%;
}
#work img:nth-child(5){
  grid-area: img5;
  max-width: 100%;
}